<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Achievments</h2>
                
                <div class="item">
                    <div class="details">
                        <p>Co-founder of a national NGO,Sanshray. The NGO focuses on the underprivileged sections of the society and helping them get sustainable sources of income </p> <a href='https://www.facebook.com/sanshray.org/'>Sanshray.org</a> </p>
                        <p>Won a hackathon at McKinsey Digital Labs for an Internet of Things project with prototypes for implementations in the MDL office space </p>
                        <p>Was invited as the Prime Minister’s guest to watch the Republic day parade in New Delhi as part of a student achievements program</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->