 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Bachelor of Technology</h4>
    <h5 class="meta">VIT University, Vellore</h5><span></span>9.1<span>
    <div class="time">2011 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">12th CBSE</h4>
    <h5 class="meta">Saint Vivekanand Sr Sec School, Bikaner</h5></span>89%<span>
    <div class="time">2010 - 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">10th CBSE</h4>
    <h5 class="meta">Sophia Sr Sec School, Bikaner</h5></span>97.6%<span>
    <div class="time">2008 - 2009</div>
</div><!--//item-->
</div><!--//education-container-->