<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Frontend Developer</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Mckinsey Digital Labs</div>
                    </div><!--//meta-->
                    <div class="details">
                       <div class="job-title">Digital transformation of the mortgage process of a bank</div>
                        <p>
                            Built a guided chatbot and led the frontend development for a digital transformation of a leading bank in South East Asia. The transformation involved a digital user journey and moving the client infrastructure to the cloud while being at the client location to work and train the client IT team.</p>
                            <p>Technologies used - React, Redux, Node.js, WIT AI, Web sockets</p>
                    </div><!--//details-->
                     <div class="details">
                       <div class="job-title">Offline information application for an investment firm</div>
                        <p>
                           Worked as a front-end developer for an offline application for a global investment firm in the US to allow its executives on the ground to access information about their clients and help them schedule meetings/read more about them.</p>
                        <p>Technologies used – React Native, Redux Saga, Realm</p>
                    </div><!--//details-->
                     <div class="details">
                       <div class="job-title">Desktop application for digitizing operations</div>
                        <p>
                           Worked as a frontend technical lead on digitizing an existing excel and notes based lead management system for one of McKinsey's support teams to provide more information to the requestors and the team.</p>
                            <p>Technology used – React, Electron</p>
                    </div><!--//details-->
                     <div class="details">
                       <div class="job-title">Dashboard for benchmarking gender diversity for 120 companies</div>
                        <p>
                          Led the frontend development for an end-to-end solution of annual benchmarking of gender diversity in 120 global companies across 80+ categories. The project involved massaging large data sets from a survey and visualizing in the form of a dashboard for each of the 120 companies.</p>
                           <p>Technology used – AngularJS, Lodash, D3.js</p>
                    </div><!--//details-->
                     <div class="details">
                       <div class="job-title">SaaS solution for companies to help take better marketing decisions</div>
                        <p>
                           Worked as the frontend developer for a SaaS based product to help companies take better marketing decisions by analyzing past data at various consumer decision points.</p>
                           <p> Technology used – AngularJS, Lodash, Highcharts</p>
                    </div><!--//details-->
                      <div class="details">
                       <div class="job-title">Mortgage banking platforms</div>
                        <p>
                           Led the development of a customizable platform for digitizing the mortgage journey for customers and banks by helping them easily track the status of the application. The platform also had chat functionality built in to allow the customers and bank to talk.</p>
                           <p> Technology used – React, Firebase</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
