<section class="skills-section section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
  <div class="skillset">
    <div class="item">
      <h4>Programming Languages</h4>
      <div>Javascript, HTML, CSS/SCSS</div>
    </div>
    <!--//level-bar-->
    <!--//item-->
    <div class="item">
      <h4>Programming Frameworks/Technologies</h4>
      <div>ReactJs, React Native, AngularJS, Redux, Redux Saga, Realm, Electron, Firebase, Node Js (Basics), Vue ( Basics ), Bootstrap/, Git/GitHub</div>
    </div>
    <div class="item">
      <h4>Agile Experience </h4>
      <div>Understanding of agile methodologies, working in both co-located and distributed scrum teams</div>
    </div>
  </div>
  <!--//level-bar-->
  <!--//item-->
</section>
<!--//skills-section-->
